<!DOCTYPE html>
<html>
<head>
    <title>WeService</title>
    <link rel="icon" href="ico/my.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/wecss.css">
    <link rel="stylesheet" type="text/css" href="css/wepagination.css">
</head>
<body id="mybody">
	<div id="homeapp"></div>
    <div id="modalapp"></div>
</body>
<script src="/home/js/jquery.js"></script>
<script src="/home/js/bootstrap.js"></script>
<script src="/home/js/vue.js"></script>
<script src="/home/js/wepagination.js"></script>
<script src="/home/js/wecommon.js"></script>
<script src="/home/js/weleftcontent.js"></script>
<script src="/home/js/werightcontent.js"></script>
<script src="/home/js/wehome.js"></script>
<script type="text/javascript">
	var Height=document.documentElement.clientHeight;//取得浏览器页面可视区域的高度
	// var Width=document.documentElement.clientWidth;//取得浏览器页面可视区域的高度
	document.getElementById("mybody").style.height = Height + "px";
	// document.getElementById("myhead").style.width = Width + "px";
	// console.log("height:"+ Height+ ",width:"+Width);
</script>
</html>
